Connections_Client/Connected Services/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52600/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52600/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52600/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:52600/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Initialize_InputMessage">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="IService_Initialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataDirect_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataDirect" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataDirect_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataDirectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataIndirect_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataIndirect" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataIndirect_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataIndirectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CityExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CityExists" />
  </wsdl:message>
  <wsdl:message name="IService_CityExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CityExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Initialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Initialize" message="tns:IService_Initialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InitializeResponse" message="tns:IService_Initialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataDirect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataDirect" message="tns:IService_GetDataDirect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataDirectResponse" message="tns:IService_GetDataDirect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataIndirect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataIndirect" message="tns:IService_GetDataIndirect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataIndirectResponse" message="tns:IService_GetDataIndirect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CityExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CityExists" message="tns:IService_CityExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CityExistsResponse" message="tns:IService_CityExists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Initialize">
      <soap:operation soapAction="http://tempuri.org/IService/Initialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataDirect">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataDirect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataIndirect">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataIndirect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CityExists">
      <soap:operation soapAction="http://tempuri.org/IService/CityExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:52600/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>